/* FirstSection.css */
.service-section {
  background-color: #E9E3DC; /* Adjust based on the image background */
  padding: 100px 100px; /* Increase padding */
  display: flex;
  align-items: top;
  min-height: 200px; /* Adjust based on content size */
  width: 100%;
}

.services-content {
  margin-top: -5%;
  margin-left: 10%;
  text-align: left;
  align-items: top;

  max-width: 70%; /* Maximum width of the content area */
}

.service-section h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 46px;
  line-height: 78px;
  font-weight: 500;
  margin-bottom: 2px;
  color: #36120F;
}

.service-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  color: #36120F;

}

.service-section p {
  max-width: 70%;
  color: #36120F;
  margin-bottom: 20px; /* Space between the paragraph and buttons */
}

.service-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  gap: 10px; /* Set a positive gap to create space between buttons */
  position: relative;
  margin-left: 0px;
}

.service-contact-button{
  margin-top: 5%;
  padding: 15px 30px;
  font-size: 1.5em;
  border: 2px solid #bb7912;
  color: white;
  background: #bb7912;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 60px;
  margin-left: 10px;

}

.service-signup-button {
  margin-top: 5%;
  padding: 15px 30px;
  font-size: 1.5em;
  border: 2px solid #bb7912;
  color:  #bb7912;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 60px;
  margin-left: 10px;
}

.contact-button {
  background-color: #ffba00; /* Gold color for the contact button */
  color: #ffffff;
}

.signup-button {
  background-color: #ffffff; /* White background for sign up button */
  color: #ffba00; /* Gold text for the sign up button */
  border: 2px solid #ffba00; /* Gold border */
}

.contact-button:hover,
.signup-button:hover {
  background-color: #ffc842; /* Lighter gold on hover */
  /* Optionally, add a box-shadow or other hover effect */
}
