.assessment-container {
    background-color: #e9e3dc; /* Set the background color */
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #333;
    position: relative;
    height: 70vh;
  }
  .total-health-assesments-content h1 {
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: #36120F;
  }

  .total-health-assesments-content h2 {
    margin-top: -1%;
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    color: #36120F;
  }
  
  .total-health-assesments-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #36120F;
    margin-bottom: 1em;
  }
  
  .total-health-assesments-content button {
    margin-top: 1%;
    padding: 15px 30px;
    font-size: 1.5em;
    border: 2px solid #bb7912;
    color: white;
    background: #bb7912;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 60px;
    margin-left: 10px;
  }
  
  .images {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  /* Other styles remain the same */

/* Update .images class and remove it as it's no longer needed */

/* Positioning for the images */
.total-health-small-green-circle {
    position: absolute;
    right: 10%; /* Adjust as necessary for alignment */
    top: 35%; /* Adjust as necessary for alignment */
    width: 2.5%;
    height: auto;
  }
  
  .total-health-large-green-semicircle {
    position: absolute;
    bottom: -2%; /* Adjust as necessary to partially hide the semi-circle */
    left: -5%; /* Adjust as necessary for alignment */
    width: 40%; /* Adjust based on actual image sizes */
    height: auto;
  }
  
  .yellow-circle {
    position: absolute;
    bottom: 12%; /* Adjust as necessary for alignment */
    right: 60%; /* Adjust as necessary for alignment */
    width: 6%; /* Adjust based on actual image sizes */
    height: auto;
  }
  
  .total-health-green-half-donut {
    position: absolute;
    bottom: 20%; /* Adjust as necessary to partially hide the semi-circle */
    left: 5%; /* Adjust as necessary for alignment */
    width: 25%; /* Adjust based on actual image sizes */
    height: auto;
  }
  
  .yellow-semicircle {
    position: absolute;
    bottom: 8.2%; /* Adjust as necessary for alignment */
    right: 11.2%; /* Adjust as necessary for alignment */
    width: 20%; /* Adjust based on actual image sizes */
    height: auto;
  }
  
  .walking-image {
    position: absolute;
    bottom: 10%; /* Adjust as necessary for alignment */
    right: 15%; /* Adjust as necessary for alignment */
    width: 15%; /* Adjust based on actual image sizes */
    height: auto;
  }
  
  /* Adjust the small circle that was already there */
  
  
  /* Adjust media queries as necessary for responsiveness */
  
  
  /* Responsive design adjustments */
  @media (max-width: 768px) {
    .content h1 {
      font-size: 1.5em;
    }
    
    .content p,
    button {
      font-size: 0.8em;
    }
  
    .yellow-semicircle,
    .walking-image {
      display: none;
    }
  }
  