.dropdown {
  position: relative;
  display: inline-block;
}

.menuIcon {
  background: none;
  padding-right: 60px;
  border: none;
  font-size: 48px;
  font-weight: 20px;
  cursor: pointer;
  color: white;
}

.menuContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #002826;
  min-width: 160px;
  z-index: 1;
}

.link {
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.link:hover {
  background-color: #f1f1f1;
}
