/* TailoredHealthPlans.css */
.tailored-plans-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f7f4f2;
    max-width: 100%;
    height: 90vh;
    padding: 100px;

  }
  
  .health-plans-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    line-height: 78px;
    font-weight: 500;
    margin-top: 0%;
    margin-bottom: 2px;
    color: #36120F;
  }
  
  .health-plans-header p {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 38px;
    font-weight: 500;
    margin-bottom: 2px;
    color: #36120F;
    margin-bottom: 1em;
  }
  
  .consultations-btn {
    margin-top: 5%;
    padding: 15px 30px;
    font-size: 1.5em;
    border: 2px solid #bb7912;
    color: white;
    background: #bb7912;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 60px;
    margin-left: 10px;
  }
  
  .plan-options {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: flex-end; /* This aligns the children along the bottom */
  }
  
  .plan {
    justify-content: space-between; /* This will push the text to the bottom */
    width: 30%; /* Adjust the width as needed for a responsive design */
    min-width: 250px;
  }
  .plan p{
    font-size: 20px;
  }
  .subscription-plan-logo {
    /* Example: make the subscription plan image larger */
    width: 100%; /* Adjust as needed */
    /* More styles here */
  }

  .plan img {
    width: 60%; /* Adjust as needed */
    height: auto;
    margin-bottom: 20%;
  }
  
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .plan-options {
      flex-direction: column;
      align-items: center;
    }
  
    .plan {
      width: 80%;
    }
  }
  