.more-questions-container {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #002826; /* Adjust the background color as needed */
  }
  
  .more-questions-container img {
    position: absolute;
    
  }
  
  .ellipse-gray {
    top: 60%;
    left: 25%;
    width: 120px; /* Set the width */
    height: auto; /* Maintain aspect ratio */
  }
  
  .circle-white {
    top: 20%;
    right: 20%;
    width: 30px; /* Set the width */
    height: auto; /* Maintain aspect ratio */
  }
  
  .ellipse-smaller {
    bottom: 30%;
    left: 0%;
    width: auto; /* Set the width */
    height: 40%; /* Maintain aspect ratio */
  }
  
  .half-dounut-green {
    bottom: -15%;
    right: 5%;
    width: 450px; /* Set the width */
    z-index: 0;
    height: auto; /* Maintain aspect ratio */
  }
  
  .group-photo {
    right: 17%; /* Adjust as needed */
    bottom: 20%;
    width: 130px; /* Set the width */
    height: 130px; /* Set height equal to width to maintain a perfect circle */
    object-fit: cover; /* Ensures the image covers the area without being stretched */
    border-radius: 50%; /* This creates the circle crop */
}
  
  .text-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  .text-container h1 {
    color: white;
    font-size: 24px; /* Adjust as needed */
    font-family: 'Poppins'; /* Now using Poppins */ 
    font-size: 46px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;

  }
  
  .btn-consultation, .btn-faqs {
    font-size: 22px;
    font-weight: 500;
    border: 2px solid #bb7912;
    background-color: #bb7912;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 60px;
    margin-right: 10px;
  }
  
  .btn-faqs {
    background-color: transparent; /* Gold color for FAQs button */
    color: #bb7912;
  }

  
  .btn-consultation:hover {
    background-color: transparent;
    color: #bb7912;
}

.btn-faqs:hover {
    background-color: #bb7912;;
    color: white;
}
  